
{% extends 'base/base_layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/chart_page.css' %}">
<link rel="stylesheet" href="{% static 'css/portfolio.css' %}">


    <div class="container" id="dashboard_container">
        <div class="row">
            <div class="col" style="margin-bottom: 15px; padding: 0 !important;">
                <div class="display-1 section-heading ">
                    <h1>Your Portfolio</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col portfolio-summary d-flex justify-content-center ">
                <h1 class="activity-item-text ">
                    You've made <span style="color: var(--carrot); ">{{ numOfTrades }}</span> trades, ranking
                    <span style="color: var(--amethyst); ">{{ rankRegional }}</span> in your regional league and
                    <span style="color: var(--river); ">{{ rankOverall }}</span> overall, nice work!
                </h1>
            </div>
        </div>
        <div class="row" style="margin-top: 15px; gap: 15px; ">
            <div class="col portfolio-info-box ">
                <h3>Total Profit</h3>
                <h1 class="showcase-number "><span style="color: var(--orange); ">{{ totalProfit }}</span>
                </h1>
            </div>
            <div class="col portfolio-info-box ">
                <h3>Total Portfolio Value</h3>
                <h1 class="showcase-number "><span style="color: var(--emerald); ">{{ totalPortValue }}</span>
                </h1>
            </div>
            <div class="col portfolio-info-box ">
                <h3>Last Traded</h3>
                <h1 class="showcase-number "><span style="color: var(--river); ">{{ lastTraded }}</span>
                </h1>
            </div>
        </div>
        <div class="row " style="margin-top: 15px; gap: 15px; ">
            <div class="col col-md-4 portfolio-chart-box ">
                <h3>Asset Distribution</h3>
                <canvas id="assets_chart"></canvas>
            </div>
            <div class="col col-md portfolio-chart-box ">
                <h3>Portfolio Value History</h3>
                <canvas id="valuation_chart"></canvas>
            </div>

        </div>
        <div class="row">
            <div class="section-heading">
                <h1 style="text-align: center;">Stock List</h1>
            </div>
        </div>
        <div class="row">
            {% for userstock in userstocks %}
            <div class="col-12 col-sm-6">
                <div class="activity-item" style="padding: 5px;">
                    <a style="text-decoration: none;" href="/trading/{{ userstock.stock_id.ticket }}">
                    <h5 class="activity-item-text">
                        <span style="width: fit-content;font-weight: 900; font-size: 1.6rem"> {{  userstock.stock_id.ticket }} </span>
                        <span style="color: var(--concrete);">{{ userstock.stock_id.name }}</span>
                        <span class="price">
                            <span style="color: var(--nephritis);font-size: 1.05rem">shares worth ${{ userstock.stock_id.balance }}<i style="margin-left:5px; position: relative; bottom:1px;" >
                    </h5>
                </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</body>

<script src="assets/js/portfolio-chart.js "></script>
<script src="assets/js/jquery.min.js"></script>

<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{% static 'js/asset-page-chart.js' %}"></script>
<script>
    var charts = init_charts({{data|safe}}, "{{ portfolio.col1 }}", "{{ portfolio.col2 }}");
</script>

{% endblock %}