{% extends 'base/base_layout.html' %} 
{% load static %}
 {% load humanize %} 
{% block content %}
<link rel="stylesheet" href="{% static 'css/chart_page.css' %}">

<div class="form-response-container" id="responseModal"></div>

<!-- Buy Menu Example -->
<div class="offcanvas offcanvas-bottom account-menu" style="transition: transform .2s ease-in-out;" tabindex="-1" id="buyCanvas" aria-labelledby="offcanvasBottomLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close btn-close-white text-reset" style="position:absolute; right:25px; top:25px" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container" style="max-width:1100px;">
            <div class="row">
                <div class="col-md-5">
                    <div class="row" style="border-bottom:1px solid #95a5a6">
                        <div class="col">
                            <h3>Buy <span style="font-weight: 900; width: fit-content;background: linear-gradient(90deg, var({{ stock.col1 }}) 23%, var({{ stock.col2 }}) 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">${{ stock.ticket }}</span></h3>
                        </div>
                    </div>
                    <div class="row">
                        <form hx-post="/trading/transaction" hx-swap="afterend" class="row g-3">
                            {% csrf_token %}
                            <input type="hidden" name="transaction" value="buy">
                            <input type="hidden" name="ticket" value="{{ stock.ticket }}">
                            <div class="col-auto">
                                <div class="row">
                                    <div class="col-2">
                                        <h2>$</h2>
                                    </div>
                                    <div class="col-10">
                                        <input aria-label="buy-amount-input" type="number" style="width:100px;" class="buy-amount-input" id="amountToBuy" name="amount" min="0.00" step=".01" value="0.00">
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="trade-form-btn">
                                    <i class="fa-solid fa-circle-plus" style="margin-right: 5px;"></i>
                                    Buy
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- I engaged with magic to center this, not 100% sure why it works but it does, basically just stacking margin-left autos with flexbox -->
                <div class="col-md-2 divider-adapt-mobile">

                </div>
                <div class="col-md-5" style="margin-left: auto">
                    <div class="row" style="border-bottom:1px solid #95a5a6">
                        <div class="col">
                            <h3>Sell <span style="font-weight: 900; width: fit-content;background: linear-gradient(90deg, var({{ stock.col1 }}) 23%, var({{ stock.col2 }}) 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">${{ stock.ticket }}</span></h3>
                        </div>
                    </div>
                    <div class="row">
                        <form hx-post="/trading/transaction" hx-swap="afterend" class="row g-3">
                            {% csrf_token %}
                            <input type="hidden" name="transaction" value="sell">
                            <input type="hidden" name="ticket" value="{{ stock.ticket }}">


                            <div class="col-auto">
                                <div class="row">
                                    <div class="col-2">
                                        <h2>$</h2>
                                    </div>
                                    <div class="col-10">
                                        <input aria-label="buy-amount-input" type="number" style="width:100px;" class="buy-amount-input" id="amountToBuy" name="amount" min="0.00" value="0.00" step=".01">
                                    </div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="trade-form-btn">
                                    <i class="fa-solid fa-circle-minus" style="margin-right: 5px;"></i>
                                    Sell
                                </button>
                            </div>
                        </form>
                        <form hx-post="/trading/transaction" hx-swap="afterend" class="row g-3">
                            {% csrf_token %}
                            <div class="col-auto">
                                <input type="hidden" name="transaction" value="sellall">
                                <input type="hidden" name="ticket" value="{{ stock.ticket }}">

                                <button type="submit" class="trade-form-btn">
                                    <i class="fa-solid fa-circle-minus" style="margin-right: 5px;"></i>
                                    Sell All
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- Stock Listing Example -->
<div class="container" style="margin-top: 40px;max-width:1090px;">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div class="chart-wrapper">
                <canvas id="valuation_chart"></canvas>
            </div>

        </div>
        <div class="col-md-4 col-sm-12">
            <div class="container d-flex flex-column" style="margin:0; padding: 0 10px; height: 100%">
                <div class="row">
                    <div class="col-12">
                        <div class="hero-unit">
                            <h1 class="display-1" style="width: fit-content;background: linear-gradient(90deg, var({{ stock.col1 }}) 23%, var({{ stock.col2 }}) 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                                ${{ stock.ticket }}</h1>
                            <h2>{{ stock.name }}</h2>
                            <p class="stock-description">{{ stock.desc }}</p>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: auto; margin-bottom: 10px;">
                    <div class="col-md-auto">
                        <h2 style="font-family:'Consolas'">{% if stock.pos %}<span style="color: var(--nephritis);"><i
                                    style="margin-right:5px; position: relative; bottom:1px;"
                                    class="fas fa-caret-up"></i>{% else %}<span style="color: var(--alizarin);"><i
                                        style="color: var(--alizarin); margin-right:5px; position: relative; bottom:1px;"
                                        class="fas fa-caret-down"></i>{% endif %}${{ stock.current_price|intcomma }}</span></h2>
                    </div>
                    <div class="col-md-auto" style="padding: 5px;">
                        {% if user.is_authenticated %}
                        <button class="stock-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#buyCanvas" aria-controls="offcanvasBottom">
                            <i class="fas fa-money-check-alt" style="margin-right: 5px;"></i>
                            Trade ${{ stock.ticket }}
                        </button>
                        {% else %}
                        <button class="stock-button stock-button-disabled" type="button">
                            <i class="fas fa-money-check-alt" style="margin-right: 5px;"></i>
                            Trade ${{ stock.ticket }}
                        </button>
                        <p style="font-family: 'Comfortaa'; color: white; margin: 5px;">You need to <a href="/login">log in</a> or <a href="/signup">sign up</a> to trade.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    {% if user.is_authenticated %}
    <!-- Activity Feed -->
    <div class="container" style="margin-top: 30px; max-width: 1100px">
        <div class="row">
            <div class="col" style="margin: 25px auto; padding: 0 !important;">
                <div class="display-1 section-heading ">
                    <h1>{{ activity }}</h1>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px; ">
            <div class="list-group list-group-flush" style="margin-top: 20px"></div>
            {% for transac in transactions %}
                <li class="list-group-item activity-item">
                    <h5 class="activity-item-text">
                        <font style="color: #f39c12">{{ transac.0 }}</font> {{ transac.1 }}
                        <font style="color: #2ecc71">${{ transac.2 }}</font> of
                        <font style="color: #3498db">{{ transac.3 }}</font> at
                        <font style="color: #3498db">${{ transac.4 }}</font>
                        <font style="float: right; color: #95a5a6">{{ transac.5 }}</font>
                    </h5>
                </li>
            {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
<script src="{% static 'js/asset-page-chart.js' %}"></script>
<script src="https://unpkg.com/htmx.org@1.7.0"></script>

<script>
    var charts = init_charts({{data | safe}}, "{{ stock.col1 }}", "{{ stock.col2 }}");
</script>

{% endblock %}