.chart-wrapper {
}

.stock-description {
    color: #95a5a6;
    font-family: 'Comfortaa';
    font-size: 12px;
}

.stock-button {
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(26,188,156,1) 23%, rgba(46,204,113,1) 100%);
    border: 1px solid rgba(255, 255, 255, 0);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #34495e;
    transition: 0.2s ease-in;
    min-width: 50px;
    font-family: 'Comfortaa';
    font-weight: 700;
}

.stock-button:hover {
    background: rgba(255, 255, 255, 0);
    border: 1px solid #2ecc71;
    color: #2ecc71;
    transition: 0.2s ease-in;
}

.activity-item {
    background: #34495e;
    border: 1px solid rgba(255, 255, 255, 0) !important;
    border-radius: 5px !important;
    margin-top: 15px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)
}

.activity-item-text {
    margin: 5px;
}