/* Headings & Top Items */

.highlight-heading {
    background: linear-gradient(90deg, rgba(26, 188, 156, 1) 23%, rgba(46, 204, 113, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-heading {
    border-bottom: 1px solid #95a5a6;
}

.breadcrumb-item {
    font-family: 'Comfortaa';
    color: #ecf0f1;
}

.breadcrumb-item.active {
    color: #3498db;
    font-weight: 700;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
    font-family: 'Comfortaa';
    font-weight: 900;
    color: #2ecc71;
}


/* Buttons */

.action-btn {
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(26, 188, 156, 1) 23%, rgba(46, 204, 113, 1) 100%);
    border: 1px solid transparent;
    padding: 5px 10px;
    color: #34495e;
    transition: 0.2s ease-in;
    /* Transition makes background change smoother */
    min-width: 50px;
    font-family: 'Comfortaa';
    font-weight: 700;
}

.action-btn:hover {
    background: transparent;
    border: 1px solid #2ecc71;
    color: #2ecc71;
    /* Transition makes background change smoother */
    transition: 0.2s ease-in;
}

.regular-btn {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--river);
    border: 1px solid transparent;
    color: var(--midnight-blue);
    font-family: 'Comfortaa';
    font-weight: 700;
    transition: 0.1s ease-in;
}

.regular-btn:hover {
    background: transparent;
    border: 1px solid var(--river);
    color: var(--river);
    transition: 0.1s ease-in;
}

.angry-btn {
    border-radius: 5px;
    padding: 5px 10px;
    background-color: var(--alizarin);
    border: 1px solid transparent;
    color: var(--midnight-blue);
    font-family: 'Comfortaa';
    font-weight: 700;
    transition: 0.1s ease-in;
}

.angry-btn:hover {
    background: transparent;
    border: 1px solid var(--alizarin);
    color: var(--alizarin);
    transition: 0.1s ease-in;
}


/* Activity Items */

.activity-item {
    background: #34495e;
    border: 1px solid transparent !important;
    border-radius: 5px !important;
    margin-top: 15px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.activity-item-text {
    margin: 5px;
}