.submit-button {
    text-decoration: none;
    border-radius: 5px;
    background: var(--green-sea);
    border: 1px solid transparent;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--asphalt);
    transition: 0.2s ease-in;
    min-width: 50px;
    font-family: 'Comfortaa';
    font-weight: 700;
}

.submit-button:hover {
    background: transparent;
    border: 1px solid var(--green-sea);
    color: var(--green-sea);
    transition: 0.2s ease-in;
}

.activity-item {
    background: var(--asphalt);
    border: 1px solid transparent !important;
    border-radius: 5px !important;
    margin-top: 15px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12)
}

.activity-item-text {
    margin: 5px;
}

.login-block {
    padding-top: 40px;
    padding-bottom: 40px;
}

.account-input {
    padding: 20px;
    text-align: left;
}

@media only screen and (max-width: 575px) {
    .account-input {
        text-align: center !important;
    }
}

.account-input-box {
    max-width: 250px;
    margin: 0 auto;
    display: inline;
    background: var(--asphalt);
    color: var(--clouds);
    padding: 5px;
    padding-left: 8px;
    border: 1px solid;
    border-radius: 5px;
    border-color: var(--concrete);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    transition: .2s ease;
}


.account-input-text {
    vertical-align: middle;
    display: inline;
    padding-right: 20px;
    margin: 0;
    display: flex; 
    align-items: center;
}

.account-admin {
    display: inline-block;
    padding: 5px;
}

.account-admin-text {
    color: var(--asbestos);
    text-decoration: none;
}

.account-admin-text:hover {
    color: var(--silver);
    text-decoration: underline;
}

.account-input-text-block {
    text-align: center;
    display: inline-block;
}