:root {
    --turquoise: #1abc9c;
    --emerald: #2ecc71;
    --river: #3498db;
    --amethyst: #9b59b6;
    --asphalt: #34495e;
    --green-sea: #16a085;
    --nephritis: #27ae60;
    --belize-hole: #2980b9;
    --wisteria: #8e44ad;
    --midnight-blue: #2c3e50;
    --sun-flower: #f1c40f;
    --carrot: #e67e22;
    --alizarin: #e74c3c;
    --clouds: #ecf0f1;
    --concrete: #95a5a6;
    --orange: #f39c12 !important;
    --pumpkin: #d35400;
    --pomegranate: #c0392b;
    --silver: #bdc3c7;
    --asbestos: #7f8c8d;
    --background-colour: var(--midnight-blue);
    --p-text-colour: #95a5a6;
    --heading-font: 'Comfortaa';
    --p-font: 'Comfortaa';
    --box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    --max-width: 1100px;
}

body {
    background: var(--midnight-blue);
}