{% extends 'base/base_layout.html' %}
{% load static %}
{% block content %}
{% load humanize %}
<body style="background-color:#2c3e50;">





    <!--Title of Page-->
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="container" style="margin-top: 20px;padding:15px">
                    <div class="row" style="border-bottom:1px solid #95a5a6">
                        <div class="col-12 col-md-10">
                            <h2 style="text-align: left;"><span style="color: var(--orange);">{{ league.name }}</span> Leaderboard</h2>
                        </div>
                        <div class="col-12 col-md-2">
                            {% if user == league.owner %}
                            <button class="angry-btn" style="margin-bottom: 5px;" onClick="window.location = '/leagues/{{ league.name }}/delete';">
                                <i class="fas fa-trash-can" style="margin-right: 5px;"></i>
                                Delete League
                            </button>
                            {% else %}
                            <button class="angry-btn" style="margin-bottom: 5px;" onClick="window.location = '/leagues/{{ league.name }}/leave';">
                                <i class="fas fa-arrow-right-from-bracket" style="margin-right: 5px;"></i>
                                Leave League
                            </button>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- Entries-->

    <!--Style-->
    <style>
        .btn-secondary {
            border-radius: 5px;
            padding: 5px 10px;
            background-color: var(--river);
            border: 1px solid transparent;
            margin-bottom: 10px;
            color: var(--midnight-blue);
            font-family: 'Comfortaa';
            font-weight: 700;
            transition: 0.1s ease-in;
        }

        .btn-secondary:hover {
            background: transparent;
            border: 1px solid var(--river);
            color: var(--river);
            transition: 0.1s ease-in;
        }

        .btn-secondary:focus {
            background: transparent;

        }

        a, a:hover {
            text-decoration: none !important;
            color:inherit;
        }
    </style>
    <div class="container" style="margin-bottom: 40px;">
        <div class="row">
            {% if league_size %}
            <div class="col-12">
                <li class="list-group-item activity-item">
                    {% if gold == user %}
                        <a style="text-decoration: none;" href="/leagues/{{ league.name }}/portfolio">
                    {% else %}
                        <a style="text-decoration: none;" href="/leagues/{{ league.name }}/portfolio/{{ gold.username }}">
                    {% endif %}

                    <h3 class="activity-item-text text-center">

                        <span style="font-size: 1.8rem; width: fit-content;background: linear-gradient(90deg, var(--sun-flower) 23%, var(--carrot) 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                            <i class="fas fa-medal"></i>
                        </span>
                        <br><span style="{% if gold == user %}color: var(--wisteria);{% else %} color: white; {% endif %}">{{ gold.username }}</span><br>
                        <span style="color: var(--emerald);">${{ gold.league_portfolio_value|intcomma }}</span>
                        {% if user == league.owner and gold != league.owner %}
                        <a href="/leagues/{{ league.name }}/remove_user/{{ gold.username }}" style="float: right; position: absolute; right: 15px; text-decoration: none !important;"><i class="fas fa-trash-can"></i></a>
                        {% endif %}
                    </h3>
                </a>

                </li>
            </div>
            <div class="col-12 col-sm-6">
                <li class="list-group-item activity-item">
                    {% if silver == user %}
                        <a style="text-decoration: none;" href="/leagues/{{ league.name }}/portfolio">
                    {% else %}
                        <a style="text-decoration: none;" href="/leagues/{{ league.name }}/portfolio/{{ silver.username }}">
                    {% endif %}

                    <h3 class="activity-item-text text-center">
                        <span style="font-size: 1.8rem; width: fit-content;background: linear-gradient(90deg, var(--concrete) 23%, var(--clouds) 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                            <i class="fas fa-medal"></i>
                        </span>
                        <br><span style="{% if silver == user %}color: var(--wisteria);{% else %} color: white; {% endif %}">{{ silver.username }}</span><br>
                        <span style="color: var(--emerald);">${{ silver.league_portfolio_value|intcomma }}</span>                        
                        {% if user == league.owner and silver != league.owner %}
                        <a href="/leagues/{{ league.name }}/remove_user/{{ silver.username }}" style="float: right; position: absolute; right: 15px; text-decoration: none !important;"><i class="fas fa-trash-can" ></i></a>
                        {% endif %}
                    </h3>
                </a>

                </li>
            </div>
            <div class="col-12 col-sm-6">
                <li class="list-group-item activity-item">
                    {% if bronze == user %}
                        <a style="text-decoration: none;" href ="/leagues/{{ league.name }}/portfolio">
                    {% else %}
                        <a style="text-decoration: none;" href="/leagues/{{ league.name }}/portfolio/{{ bronze.username }}">
                    {% endif %}

                    <h3 class="activity-item-text text-center">

                        <span style="font-size: 1.8rem; width: fit-content;background: linear-gradient(90deg, var(--carrot) 23%, var(--pumpkin) 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
                            <i class="fas fa-medal"></i>
                        </span>
                        <br><span style="{% if bronze == user %}color: var(--wisteria);{% else %} color: white; {% endif %}">{{ bronze.username }}</span><br>
                        <span style="color: var(--emerald);">${{ bronze.league_portfolio_value|intcomma }}</span>
                        {% if user == league.owner and bronze != league.owner %}
                        <a href="/leagues/{{ league.name }}/remove_user/{{ bronze.username }}" style="float: right; position: absolute; right: 15px; text-decoration: none !important;"><i class="fas fa-trash-can" ></i></a>
                        {% endif %}
                    </h3>
                </a>

                </li>
            </div>
            {% endif %}
            {% for member in members %}
            <div class="col-12 col-sm-6">
                <li class="list-group-item activity-item">
                    {% if member == user %}
                        <a style="text-decoration: none;" href="/leagues/{{ league.name }}/portfolio">
                    {% else %}
                        <a style="text-decoration: none;" href="/leagues/{{ league.name }}/portfolio/{{ member.username }}">
                    {% endif %}
                    <h5 class="activity-item-text">
                        {% if league_size == True %}
                            {{ forloop.counter|add:3 }}.
                        {% endif %}
                        <span style="color: {% if player.username == user.username %}var(--wisteria);font-weight:900;{% else %}var(--orange);{% endif %}">{{ member.username }}</span> valued at 
                        <span style="color: var(--emerald);">${{ member.league_portfolio_value|intcomma }}</span>
                        {% if user == league.owner and member != league.owner %}
                        <a href="/leagues/{{ league.name }}/remove_user/{{ member.username }}" style="float: right; position: absolute; right: 15px; text-decoration: none !important;"><i class="fas fa-trash-can" ></i></a>
                        {% endif %}
                    </h5>

                    </a>

                </li>
            </div>
            {% endfor %}
            {% if user == league.owner %}
                <div class="col-12">
                    <button class="action-btn" style="float: left; margin-top: 15px; min-width: -webkit-fill-available" onClick="window.location = '/leagues/{{ league.name }}/add_member';">
                        <i class="fas fa-plus" style="margin-right: 5px;"></i>
                        Add Player
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}