{% extends 'base/base_layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}"> 

<div class="container" style="margin-top: 20px;max-width:800px;">
	<div class="row">
		<div class="container-lg" style="margin-top: 20px;">
			<div class="row" style="border-bottom:1px solid #95a5a6">
				<h2 style="text-align: left;">Friends</h2>
			</div>
			<div class="row">
				<div class="col-sm-7 col-12" style="padding-top: 20px;">
					<div class="grid">
						<form>
							<div class="profile-input row" style="margin-bottom: 45px; padding: 10px;">
								<input class="profile-search col-10" placeholder="Find friends">
								<button class="btn btn-link col-2" name="Friend_search" type="button" type="submit" style=" padding-left: 1em; padding-top: 0.4em;">
									<i class="fas fa-search" style="font-size:1.5em; color: var(--clouds);"></i>
								</button>
							</div>
						</form>
						<div class="row" style="border-bottom:1px solid #95a5a6">
							<h3 style="text-align: left;">My friends</h3>
							</div>
							<div class="profile-input row" id="Someone1391">
								<h4 class="profile-input-text col-10">
									<span style="color: #f39c12">Someone1391</span>&nbsp;worth&nbsp;
									<span style="color: #2ecc71">$100.78</span>
								</h4>
								<button class="btn btn-link col-2" type="button" onclick="displayFriendInfo(this);">
									<i style="color: var(--clouds);font-size: 1.5em;" class="fa fa-solid fa-bars" style="pointer-events: none; color: white"></i>
								</button>
								<div class="profile-input row" id="Someone1391_child" style="box-shadow: none; display: none;">
									<h4 class="profile-input-text col-6">Friends since:</h4>
									<h4 class="profile-input-text col-6">21-02-2022</h4>
									<h4 class="profile-input-text col-12 col-sm-6">Head to head:</h4>
									<h4 class="profile-input-text col-12 col-sm-6"><span style="color: var(--alizarin);">Losing</span>&nbsp;by&nbsp;<span style="color: #2ecc71">$73.58</span></h4>
									<div class="justify-content-center" style="padding: 0;">
										<button style="margin-top: 10px;" class="default-button col-12 col-sm-6" type="button" name="view_profile" onclick="viewProfile(this);">View profile</button>
										<button style="margin-top: 10px;" class="remove-friend-button col-12 col-sm-6" type="button" name="Remove_friend" onclick="removeFriend(this);">Remove friend</button>
									</div>
								</div>
							</div>

							<div class="profile-input row" id="Someone1191">
								<h4 class="profile-input-text col-10">
									<span style="color: #f39c12">Someone1191</span>&nbsp;worth&nbsp;
									<span style="color: #2ecc71">$1173.58</span>
								</h4>
								<button class="btn btn-link col-2" type="button" onclick="displayFriendInfo(this);">
									<i style="color: var(--clouds);font-size: 1.5em;" class="fa fa-solid fa-bars" style="pointer-events: none; color: white"></i>
								</button>
								<div class="profile-input row" id="Someone1191_child" style="box-shadow: none; display: none;">
									<h4 class="profile-input-text col-6">Friends since:</h4>
									<h4 class="profile-input-text col-6">21-02-2022</h4>
									<h4 class="profile-input-text col-12 col-sm-6">Head to head:</h4>
									<h4 class="profile-input-text col-12 col-sm-6"><span style="color: var(--alizarin);">Losing</span>&nbsp;by&nbsp;<span style="color: #2ecc71">$73.58</span></h4>
									<div class="justify-content-center">
										<button style="margin-top: 10px;" class="default-button col-12 col-sm-6" type="button" name="view_profile" onclick="viewProfile(this);">View profile</button>
										<button style="margin-top: 10px;" class="remove-friend-button col-12 col-sm-6" type="button" name="Remove_friend" onclick="removeFriend(this);">Remove friend</button>
									</div>
								</div>
							</div>
							<div class="profile-input row" id="Someone1227">
								<h4 class="profile-input-text col-10">
									<span style="color: #f39c12">Someone1227</span>&nbsp;worth&nbsp;
									<span style="color: #2ecc71">$100.78</span>
								</h4>
								<button class="btn btn-link col-2" type="button" onclick="displayFriendInfo(this);">
									<i style="color: var(--clouds);font-size: 1.5em;" class="fa fa-solid fa-bars" style="pointer-events: none; color: white"></i>
								</button>
								<div class="profile-input row" id="Someone1227_child" style="box-shadow: none; display: none;">
									<h4 class="profile-input-text col-6">Friends since:</h4>
									<h4 class="profile-input-text col-6">21-02-2022</h4>
									<h4 class="profile-input-text col-12 col-sm-6">Head to head:</h4>
									<h4 class="profile-input-text col-12 col-sm-6"><span style="color: var(--alizarin);">Losing</span>&nbsp;by&nbsp;<span style="color: #2ecc71">$73.58</span></h4>
									<div class="justify-content-center">
										<button style="margin-top: 10px;" class="default-button col-12 col-sm-6" type="button" name="view_profile" onclick="viewProfile(this);">View profile</button>
										<button style="margin-top: 10px;" class="remove-friend-button col-12 col-sm-6" type="button" name="Remove_friend" onclick="removeFriend(this);">Remove friend</button>
									</div>
								</div>
							</div>
							<div class="profile-input row" id="Someone1237">
								<h4 class="profile-input-text col-10">
									<span style="color: #f39c12">Someone1237</span>&nbsp;worth&nbsp;
									<span style="color: #2ecc71">$100.78</span>
								</h4>
								<button class="btn btn-link col-2" type="button" onclick="displayFriendInfo(this);">
									<i style="color: var(--clouds);font-size: 1.5em;" class="fa fa-solid fa-bars" style="pointer-events: none; color: white"></i>
								</button>
								<div class="profile-input row" id="Someone1237_child" style="box-shadow: none; display: none;">
									<h4 class="profile-input-text col-6">Friends since:</h4>
									<h4 class="profile-input-text col-6">21-02-2022</h4>
									<h4 class="profile-input-text col-12 col-sm-6">Head to head:</h4>
									<h4 class="profile-input-text col-12 col-sm-6"><span style="color: var(--alizarin);">Losing</span>&nbsp;by&nbsp;<span style="color: #2ecc71">$73.58</span></h4>
									<div class="justify-content-center">
										<button style="margin-top: 10px;" class="default-button col-12 col-sm-6" type="button" name="view_profile" onclick="viewProfile(this);">View profile</button>
										<button style="margin-top: 10px;" class="remove-friend-button col-12 col-sm-6" type="button" name="Remove_friend" onclick="removeFriend(this);">Remove friend</button>
									</div>
								</div>
							</div>
							<div class="profile-input row" id="Someone5427">
								<h4 class="profile-input-text col-10">
									<span style="color: #f39c12">Someone5427</span>&nbsp;worth&nbsp;
									<span style="color: #2ecc71">$100.78</span>
								</h4>
								<button class="btn btn-link col-2" type="button" onclick="displayFriendInfo(this);">
									<i style="color: var(--clouds);font-size: 1.5em;" class="fa fa-solid fa-bars" style="pointer-events: none; color: white"></i>
								</button>
								<div class="profile-input row" id="Someone5427_child" style="box-shadow: none; display: none;">
									<h4 class="profile-input-text col-6">Friends since:</h4>
									<h4 class="profile-input-text col-6">21-02-2022</h4>
									<h4 class="profile-input-text col-12 col-sm-6">Head to head:</h4>
									<h4 class="profile-input-text col-12 col-sm-6"><span style="color: var(--alizarin);">Losing</span>&nbsp;by&nbsp;<span style="color: #2ecc71">$73.58</span></h4>
									<div class="justify-content-center">
										<button style="margin-top: 10px;" class="default-button col-12 col-sm-6" type="button" name="view_profile" onclick="viewProfile(this);">View profile</button>
										<button style="margin-top: 10px;" class="remove-friend-button col-12 col-sm-6" type="button" name="Remove_friend" onclick="removeFriend(this);">Remove friend</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col" style="margin-left: 10px;padding-top: 20px;">
						<div class="grid">
							<div class="league-preview row col-12">
								<h4 class="league-preview-text" style="padding-bottom: 10px;">Y15 League</h4>
								<div class="league-preview-row row">
									<h5 class="league-preview-text col-9 col-md-8">1. Someone1191</h5>
									<i class="fa fa-solid fa-caret-up col" style="font-size: 1.5em; color: var(--emerald);"></i>
								</div>
								<div class="league-preview-row row">
									<h5 class="league-preview-text col-9 col-md-8">2. Someone1391</h5>
									<i class="fa fa-solid fa-caret-down col" style="font-size: 1.5em; color: var(--pomegranate);"></i>
								</div>
								<div class="league-preview-row row">
									<h5 class="league-preview-text col-9 col-md-8">3. Someone1237</h5>
									<i class="fa fa-solid fa-equals col" style="font-size: 1em; color: var(--river);"></i>
								</div>
							</div>
							<div class="league-preview row col-12">
								<h4 class="league-preview-text" style="padding-bottom: 10px;">Y20 League</h4>
								<div class="league-preview-row row">
									<h5 class="league-preview-text col-9 col-md-8">1. Someone1191</h5>
									<i class="fa fa-solid fa-equals col" style="font-size: 1em; color: var(--river);"></i>
								</div>
								<div class="league-preview-row row">
									<h5 class="league-preview-text col-9 col-md-8">2. Someone1227</h5>
									<i class="fa fa-solid fa-caret-up col" style="font-size: 1.5em; color: var(--emerald);"></i>
								</div>
								<div class="league-preview-row row">
									<h5 class="league-preview-text col-9 col-md-8">3. Someone5427</h5>
									<i class="fa fa-solid fa-caret-down col" style="font-size: 1.5em; color: var(--pomegranate);"></i>
								</div>
							</div>
							<a href="leagues.html" class="default-button row justify-content-center" style="padding-top: 0.488em;padding-bottom: 0.488em; max-width: 200px; margin-top: 10px;">View all leagues</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    function displayFriendInfo(ele){
        var friendID=ele.parentElement.id;
        childID=friendID+"_child"
        if(document.getElementById(childID).style.display=="flex"){
            document.getElementById(childID).style.display="none";
        }else{
            document.getElementById(childID).style.display="flex";
        }
    }
    function removeFriend(ele){
        var friendID=ele.parentElement.parentElement.parentElement.id;
        alert("Remove "+friendID+" from friends");
    }
    function viewProfile(ele){
        var friendID=ele.parentElement.parentElement.parentElement.id;
        alert("View "+friendID+"'s profile");
    }
</script>

{% endblock %}