{% extends 'base/base_layout.html' %}
{% load static %}
{% block content %}
    
    <div class="container" style="margin-top: 20px;max-width:575px;">
        <div class="row">
            <div class="col-12 text-center">
                <div class="container" style="margin-top: 20px;">
                    <div class="row" style="border-bottom:1px solid #95a5a6">
                        <h2 style="text-align: left;">Create Account</h2>
                    </div>
                    <div class="container" style="padding-top: 20px;">
                        <form action="/signup/" method="POST">
                            {% csrf_token %}


                            <div class="grid">
                                <div class="account-input row">
                                    <h4 class="account-input-text col-12 col-sm-6">Username</h4> 
                                    <input class="account-input-box col-12 col-sm-6" type="text" name="username">
                                </div>
                                <div class="account-input row">
                                    <h4 class="account-input-text col-12 col-sm-6">Password</h4> 
                                    <input class="account-input-box col-12 col-sm-6" type="password" name="password1">
                                </div>
                                <div class="account-input row">
                                    <h4 class="account-input-text col-12 col-sm-6">Confirm<br> Password</h4> 
                                    <input class="account-input-box col-12 col-sm-6" type="password" name="password2" style="max-height: 2.225em;">
                                </div>
                                <div class="account-input row">
                                    <h4 class="account-input-text col-12 col-sm-6">Email</h4> 
                                    <input class="account-input-box col-12 col-sm-6" type="email" name="email">
                                </div>
                                <div class="account-input" style="text-align: center;">
                                    <button class="submit-button" name="Signup" type="submit">Sign up</button>
                                </div>
                            </div>
                            <span style="color:var(--alizarin);">
                            {% if errors|length > 0 %}
                                {% for error in errors %}
                                    {{ error }}
                                {% endfor %}
                            {% endif %}
                        </span>
                        </form>
                        <div class="account-admin">
                            <a href="/login" class="account-admin-text">Have an account?</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
{% endblock %}